html,
body {
    background-color: rgb(123, 0, 47);
    height: 100%;
    color:black;
}

.wide-input {
    width: 60px;
}


.container {
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgb(123, 0, 47);
    padding-top: 120px;
    max-width: 100% !important;
}

table{
    color:black;
}

nav {
    display: flex;
    position: fixed;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.43);
    width: 100%;
}

nav ul {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 70px;
    display: flex;
}

nav ul li {
    padding: 25px;
}

nav ul li a {
    transition: color .3s;
    cursor: pointer;
}

nav ul li a:hover {
    color: white;
}

.add-button {
    display: inline-flex;
    height: 50px;
    width: 200px;
    background-color: green;
    border-radius: 25px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.small-add-button {
    display: inline-flex;
    height: 50px;
    width: 100px;
    background-color: green;
    border-radius: 25px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.add-button p {
    margin: auto;
}

.producten-pagina,
.serienummers-pagina {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h1 {
    text-align: Center;
    color: white;
    font-size:30px !important;
    margin-top: 70px !important;
    font-size: 30px;
}

.producten-pagina .add-button,
.serienummers-pagina .add-button {
    margin-left: auto;
    margin-right: 80px;
    cursor: pointer;
}

.logo-container {
    display: inline-flex;
}

.logo-container a {
    display: inline-flex;
    margin-top: auto;
    margin-bottom: auto;
}

.logo-container img {
    float: left;
    width: 100px;
    margin-left: 50px;
}

.logo-container p {
    font-size: 30px;
    color: white;
    margin: auto 0;
    margin-left: 20px;
}

.menu-item {
    border: 1px solid white;
}

.default-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.default-form label {
    margin-top: 20px;
    margin-bottom: 5px;
}

.default-form input,
.default-form textarea {
    color: black;
    padding: 10px;
}

.default-form .submit {
    color: white;
    background-color: green;
    cursor: pointer;
    margin-top: 30px;
}


.default-form .submit:hover {
    color: white;
    background-color: rgb(0, 56, 0);
    cursor: pointer;
}

.small-button {
    display: inline-flex;
    height: auto;
    width: 40px;
    border-radius: 25px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.small-button-2 {
    display: inline-flex;
    height: auto;
    width: 20px;
    border-radius: 25px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0);
    min-width: 160px;
    z-index: 1;
    right: 0px;

}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(0, 0, 0);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdownn {
    color: white;
    margin-left: 5px;

}

.dropdown .fa-caret-down {
    margin-left: 5px;
}

.delete-button {
    background-color: rgb(255, 0, 0) !important;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
